@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

:root{
    --tittleFont:  'Passion One', cursive;
    --fundoP: rgba(0, 0, 0, 0.384);
}

*{
    margin: 0;
    padding: 0;
}


header{
    color: white;
    background-color: black;
    text-align: center;
}


h1{
    font-family: var(--tittleFont);
    font-size: min(14.6vw, 4.8em);
    padding: 15px 5px 10px 5px;
}

h2{
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: min(4vw, 1em);
    padding: 15px 0 15px 0;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline; 
}

main{
    font: italic bold min(4.3vw,1.45em) cursive;
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
    line-height: min(14vw, 65px);
}
.verse{
    margin-left:35px;
    margin-bottom: min(6vw,50px);
    padding: 20px;
    padding-bottom: 0;
}
#imagem{
    margin-bottom: min(10vw,50px);
    background-image: url('https://professorguanabara.github.io/projeto-cordel/imagens/background001.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 40px;
}

#imagem2{
    margin-bottom: 60px;
    background-image: url('https://professorguanabara.github.io/projeto-cordel/imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;
}

#imagem p, #imagem2 p{
    padding: 20px;
    color: white;
    width: fit-content;
    background-color:var(--fundoP);
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}