@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

:root{
    --tittleFont:  'Passion One', cursive;
    --fundoP: rgba(0, 0, 0, 0.384);
}

*{
    margin: 0;
    padding: 0;
}


header{
    color: white;
    background-color: black;
    text-align: center;
    min-height: 200px;
}


h1{
    font-family: var(--tittleFont);
    font-size: min(13vw, 4.8em);
    padding: 15px 0 15px 0;
}

h2{
    font-weight: normal;
    padding: 15px 0 15px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

main{
    font: italic bold min(5vw,1.45em) cursive;
    font-style: italic;
    font-weight: bold;
    margin: 60px auto;
    line-height: 65px;
}
.verse{
    margin-left:35px;
    margin-bottom: 60px;
    padding: 20px;
}
#imagem{
    margin-bottom: 60px;
    background-image: url('https://professorguanabara.github.io/projeto-cordel/imagens/background001.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 40px;
}

#imagem2{
    margin-bottom: 60px;
    background-image: url('https://professorguanabara.github.io/projeto-cordel/imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 40px;
}

#imagem p, #imagem2 p{
    padding: 20px;
    color: white;
    width: fit-content;
    background-color:var(--fundoP);
}